* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "icomoon";
  src: url("../Fuentes/fonts/icomoon.eot?j5xsgd");
  src: url("../Fuentes/fonts/icomoon.eot?j5xsgd#iefix")
      format("embedded-opentype"),
    url("../Fuentes/fonts/icomoon.ttf?j5xsgd") format("truetype"),
    url("../Fuentes/fonts/icomoon.woff?j5xsgd") format("woff"),
    url("../Fuentes/fonts/icomoon.svg?j5xsgd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  height: inherit;
  flex-wrap: inherit;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -0.2px;
  color: #edf2f4;

  /* text-transform: uppercase; */
  /* text-decoration: none; */
}
h1 strong {
  color: #2b2d42;
}
h2 {
  color: #ef233c;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0px 40px;
}

.header {
  background-color: #d90429;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  flex-wrap: wrap;
}

.menu {
  height: inherit;
}
.header ul {
  display: flex;
  height: inherit;
}

.header ul li {
  height: inherit;
}
.header a {
  color: #edf2f4;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.hero {
  height: 300px;
  /* background-image: url("../img/hero.jpg"); */
  background-color: #ef233c;
  /* background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image {
  object-fit: contain;
}

.portfolio {
  padding: 20px;
  background-color: #edf2f4;
}

.project {
  border: 1px solid #8d99ae;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 20px;
  background-color: #edf2f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #2b2d42;
}
.project strong {
  font-family: "Fjalla One", sans-serif;
}

.project-title {
  font-size: 30px;
  margin-bottom: 10px;
}
.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}
.project-description {
  font-size: 20px;
}

.project-details {
  width: 50%;
}

.project-imageContainer {
  width: 50%;
}

.project-imageContainer img {
  max-width: 100%;
}

main {
  background-color: #edf2f4;
}
.event-list {
  display: flex;
  flex-wrap: wrap;
}

.event-list-title {
  margin-left: 20px;
}

.event {
  margin: 1%;
  width: 48%;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #edf2f4;
}

.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-detail {
  margin: 20px 40px;
  background-color: white;
  position: relative;
  top: -40px;
  padding: 20px;
  text-align: center;
  color: #2b2d42;
}

.event-description {
  text-align: left;
  margin-bottom: 20px;
}

.event-url {
  color: #ef233c;
  border: 1px solid #ef233c;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.footer {
  background-color: #2b2d42;
  color: #edf2f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

.contact {
  background-color: #ef233c;
  color: #edf2f4;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  flex-wrap: wrap;
}

.form-email input {
  border-color: #8d99ae;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url("../img/envelope.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  margin-top: 10px;
}

.form-email button {
  display: block;
  background: transparent;
  color: #edf2f4;
  border-radius: 5px;
  border-style: solid;
  width: 100px;
  border-color: #edf2f4;
  margin-top: 10px;
  padding: 10px 20px;
}

.form-email h3 {
  font-family: "Source Sans Pro", sans-serif;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}

.social-link.twitter {
  background-image: url("../img/twitter.svg");
}
.social-link.facebook {
  background-image: url("../img/facebook.svg");
}
.social-link.github {
  background-image: url("../img/github.svg");
}
.social-link.instagram {
  background-image: url("../img/instagram.svg");
}

.html-video {
  width: 100%;
  height: auto;
}
.youtube-video {
  /* width: 100%; */
  /* height: auto; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: 3; */
}

.flexible-video {
  width: 100%;
  height: 0;
  padding-top: 56.25%; /*height*100/width */
  background-color: blue;
  position: relative;
}

.burger-button {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 10;
  left: 5px;
  top: 5px;
  color: white;
  font-size: 20px;
}

.header ul li .border {
  height: initial;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 14px 0;
}

.portfolio,
.eventos {
  border-left: 10px solid #8d99ae;
}

h2:before {
  content: "";
  position: absolute;
  left: -25px;
  top: 5px;
  font-size: 10px;
  color: #8d99ae;
  width: 20px;
  height: 20px;
  background-color: #8d99ae;
  border-radius: 50%;
}

.project,
.event {
  box-shadow: 1px 1px 10px 1px lightgray;
}

/* desktop firs, comenzar del media query mas grande */
@media screen and (max-width: 1023px) {
  h2:before {
    content: "";
    position: absolute;
    left: -15px;
    top: 5px;
    font-size: 20px;
    color: #8d99ae;
    width: 20px;
    height: 20px;
    background-color: #8d99ae;
    border-radius: 100%;
  }
  .container {
    padding: 0 1em;
    position: relative;
  }
  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero-image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  h1 {
    font-size: 2em;
    z-index: 2;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
  }
  .burger-button {
    display: block;
  }
  .header {
    display: block;
    height: auto;
  }
  .header ul {
    display: block;
  }
  .header ul li {
    height: 50px;
  }
  .header a {
    justify-content: center;
    height: 40px;
    font-size: 1.5em;
    text-decoration: underline;
    margin-bottom: 0.5em;
  }
  .header .logo {
    text-align: center;
  }
  .menu {
    position: fixed;
    background-color: #ef233c;
    z-index: 5;
    top: 0;
    left: -100vw;
    width: 100vw;
    /* height: 100vh; */
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  .menu.is-active {
    left: 0;
  }
  .project {
    display: block;
  }
  .project-imageContainer {
    width: auto;
    text-align-last: center;
  }
  .project-details {
    width: auto;
    font-size: 16px;
  }
  .project-title {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }

  .project-url {
    font-size: 1em;
  }

  .project-course {
    font-size: 0.7em;
  }
  .project-date {
    font-size: 1em;
  }

  .project-description {
    font-size: 0.8em;
  }
  .project-course,
  .project-date,
  .project-url {
    margin: 0.4em 0;
  }

  .event {
    width: auto;
    flex-shrink: initial;
  }

  .event img {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
  .project-details {
    width: auto;
    font-size: 14px;
  }

  .event-detail {
    margin: -2em 1em 1em;
    padding: 1em;
  }
  .contact {
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
  }

  .form-email button {
    margin: 1em auto;
  }

  .footer {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  h1 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
  }
  .hero {
    padding: 2em 1em;
  }

  .social-link {
    width: 40px;
    height: 40px;
    background-size: 100%;
  }
}
